.Profile {
  display: flex;
  width: 70%;
}

.lift {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: .75rem 1.25rem;
  margin-right: 1.25rem;
}

.lift {
  width: 20%;
}

.middle, .right {
  width: 40%;
}