.Events {
  position: fixed;
  z-index: 6;
  left: 4rem;
  top: 14px;
}

.event_button {
  color: var(--green-mui-color);
  font-size: 16px;
  width: 100%;
  padding: .75rem 1.25rem;
  justify-content: flex-start;
}

.event_button:hover,
.event_new_link:hover {
  background-color: var(--hover-background);
  cursor: pointer;
}

[data-event-name="save"] {
  color: var(--white-color);
  background-color: var(--green-mui-color);
}

[data-event-name="save"]:hover {
  background-color: var(--lite-green-mui-color);
}

.event_new_link {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.event_item {
  position: relative;
}