.Events {
  position: fixed;
  z-index: 6;
  left: 4rem;
  top: 14px;
}

.Events [data-btn-name="save"] {
  color: var(--white-color);
  background-color: var(--green-mui-color);
}

.Events [data-btn-name="save"]:hover {
  background-color: var(--lite-green-mui-color);
}