.Navbar {
  z-index: 5;
  position: fixed;
  left: 0;
  right: 0;
  background-color: #ee6e73;
  height: 64px;
  padding: 0 .75rem;
  color: white;
  display: flex;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 4px -1px, rgba(0, 0, 0, 0.14) 0px 4px 5px 0px, rgba(0, 0, 0, 0.12) 0px 1px 10px 0px;
}

.lift {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 100%;
}

.right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 100%;
  width: 100%;
}

.logo {
  color: white;
  margin-left: .75rem;
}

.button {
  color: white;
  margin-right: .75rem;
}

.avatar_link {
  color: white;
  display: flex;
  align-items: center;
}

.login {
  margin-right: .75rem;
}