@use 'src/sass/variables' as v

.nav
    box-shadow: none
    background-color: v.$white-color
    border-bottom: 1px solid #e0e0e0
    padding-left: 20px
    a
        color: v.$red-color
.wrapper
    display: flex
    align-items: center