@use 'src/sass/variables' as v
.Table_Component
  ul.list
    border: none
    height: 3000px
  .item
    display: flex
    justify-content: space-between
  .left
    display: flex
    align-items: center
  .right
    flex: 1
    display: flex
    align-items: center
    position: relative
    div
      margin-right: 20px
    &:hover
      color: v.$green-color
  .column
    flex: 3
  .image
    display: flex
    align-items: center
    img
      border-radius: 50%
      width: 42px
      height: 42px
  .navlink
    position: absolute
    display: block
    top: 0
    bottom: 0
    right: 0
    left: 0
